@font-face {
    font-family: 'Helvetica Neue LT Com', sans-serif; src: url('../fonts/HelveticaNeue.ttf');
}

@font-face {
    font-family: 'Helvetica Neue LT Std', sans-serif; src: url('../fonts/HelveticaNeue-Bd.otf');
}


body {
    background: url(../images/background.jpeg) 0 0 fixed no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    overflow-x: hidden !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-position: bottom center;

}

body.story {
    background: url(../images/story_background.jpeg) 0 0 fixed no-repeat;
    background-position: bottom center;
}

body.team {
    background: url(../images/team_background.jpeg) 0 0 fixed no-repeat;
    background-position: bottom center;
}

body.work {
    background: url(../images/work.jpg) 0 0 fixed no-repeat;
    background-position: bottom center;
}

body.submissions {
    background: url(../images/proposal_background.jpeg) 0 0 fixed no-repeat;
    background-position: bottom center;
}
div.container {
    max-width: none;
   
}
.navbar-fixed-top, .navbar-fixed-bottom {
    left: inherit;
    min-width: 400px;
    margin-right: 10px;
}
div.navbar {
    background: -moz-linear-gradient(top,  rgba(23, 180, 170,0.8) 0%, rgba(21,136,188,0.8) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(23, 180, 170,0.8)), color-stop(100%,rgba(21,136,188,0.8))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(23, 180, 170,0.8) 0%,rgba(21,136,188,0.8) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(23, 180, 170,0.8) 0%,rgba(21,136,188,0.8) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(23, 180, 170,0.8) 0%,rgba(21,136,188,0.8) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(23, 180, 170,0.8) 0%,rgba(21,136,188,0.8) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc48b9c4', endColorstr='#cc419ec8',GradientType=0 ); /* IE6-9 */

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 3px 2px rgba(0,0,0,.5);
    min-height: inherit;
    padding: 0px;

}

ul.navbar-nav li a{
    color: white !important;
    text-transform: uppercase;
    padding: 5px 0 5px 0;
    font-weight: bold;

}

ul.nav {
    min-width: 440px !important;
    margin: 0 auto;


}

ul.nav li {
    text-indent: 5px;
    
    font-size: 12px;
    font-weight: 400;
    display: inline-block;
}



.robot {
    position: absolute;
    bottom: 0px;
    left: 66%;
    background-image: url(../images/optimus.png);
    position: absolute;
bottom: 0px;
left: 66%;
background-image: url(../images/optimus.png);
background-size: 100% auto;
background-repeat: no-repeat;
background-position: left bottom;
}

.robot img {
    width: 150%;
    position: relative;
    visibility: hidden;

}


.welcome_background {
    background-color: rgba(255,255,255,0.8);
    border-radius: 5px;
    border: 2px solid #1588bc;
}
.welcome {
    padding: 5px;
}

.welcome h1 {
    color: #ef4e91;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.footer img {
    width: 400px;
    border-style: none !important;
    display: none;
    z-index: -1;
    

}

img.footer {
    width: 60%;
    bottom: 0%;
    min-width: 400px;
    display: none;
   
}
 


.story-logo {
    border-style: none !important;
    position: absolute;
    top: 100%;
}

.top {
    z-index: 100;
}

label {
    color: white;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: capitalize;
}

button#btnlogin {
    color: #1588bc !important;
    text-transform: uppercase;
    font-weight: 400;
    background-color: white !important;
}

.login_button {
color: #1588bc !important;
font-weight: bold !important;
    text-transform: uppercase;
    font-weight: 400;
    background: white !important;
}
.thumbnail, .img-thumbnail {
    padding: 0px;
}

.down {
    margin-top: 20px;

}

.transparent  {
    background-color: rgba(0,0,0,0) !important;
    border-style: none;
    box-shadow: 0px 1px 4px black;
}

.thumbnail > span {
    height: 100px;
    display: block;
    top: 20px;
    position: relative;

}

.thumbnail, .img-thumbnail {
    background: none;
    text-align: center;
    background-color: rgba(255,255,255,0.8);
}

.work-caption {
    background-color: #1588bc;
    color: white !important;
    min-height: 65px !important;
}

img.logos {
    width: 115px;
}

.modal-dialog {
    width: 800px;
}

.modal-content {
    background-color: black;
}

.modal-header {
    border-style: none;
}

.modal-body {
    padding: 0px;
}

.controls-wrapper {
    display: none !important;
}

.title {
    display: none !important;
}

.player .title header {
    display: none !important;
}

button.close {
    background-color: white;
}
iframe {
    width: 100%;
}
.story-reader {
    overflow: scroll;
    max-height: 480px;
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,0.8);;
    border: 2px solid #1588bc !important;
    border-radius: 5px;
    padding: 5px;
}

.story-reader .popover {
    background-color: #1588bc;
    color: white;
    width: 100%;
    min-width: 400px;
    margin: 0 0 0 60px;
    position: absolute !important;
    top: 20px !important;
    display: block;
    z-index: 1000 !important;
}


.story-reader .popover h4 {
    text-transform: uppercase;
}

.popover.right .arrow:after {
    border-right-color: #1588bc;

}

.story-reader img {
    width: 90%;
}

/* story hovers */

.story-reader p {
    margin: 0px;
    padding: 0px;
}

p#principles:after {
    background-color: rgba(0,0,0,0.3);
    content: 'hi';
    display: inline;
    position: relative;
    visibility: hidden;
    top: 0px;
    left: 15px;
    min-height: 250px;
    width: 95%;
}

/*p#principles:hover:after {*/
/*background-color: red;*/
/*content: 'Four Core Principles. We have four core beliefs that uniquely shape our culture and the way we work. We call this FBDS and this is the qualification we look for in every person we hire. Fast: We will seize opportunities to gain competitive advantage.Brave: We will push clients forward with entrepreneurial passion. Fast:';*/
/*position: absolute;*/
/*visibility: visible;*/
/*}*/





.character {
    right: -2%;
    bottom: 0px;

}
.character img {
    width: 100%;
}

.absolute {
    position: absolute;
}



/* nav focus */

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #f166a0;
    border-right: 1px solid #f166a0;


}


li.active > a {
}

body.team .arrow:after {
    display: none;
    opacity: 0;
}

body.team .arrow {
    display: none;
    opacity: 0;
}

/* team */
body.team .popover-holder {
    background-color: rgba(255,255,255,0.97);
    position: absolute;
    left: -30px;
    top: 10px;
    border-radius: 5px;
    border: 2px solid #1588bc;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.6);
    min-height: 600px;
    height: auto;
    z-index: 100;
}

body.team .popover-holder h3 {
    color: #1588bc;
    line-height: 15px;
    font-size: 16px;
    padding-bottom: 10px;
}

body.team .popover-holder p {
    font-size: 95%;
    line-height: 1.6em;
}

body.team .popover-holder h4 {
    color: rgb(27,27,27);
    text-transform: uppercase;
}

.team-video, .team-video-title {
    background-image: url(../images/team_logo.png);
    background-color: red;
    min-height: 300px;
    background-size: auto 300px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0px 2px 4px gray;
    margin-left: 25px;
}

.team-video-title, .team-member-caption {
    box-shadow: 0px 2px 2px black;
    background-color: rgba(21,136,188,0.7);
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    max-height: 100px;
    height: 100px;
}

.thumbnail .caption {
    color: white;
    font-style: italic;
}

.work {
    min-width: 140px;
}

.carousel .thumbnail, .img-thumbnail {
    border-radius: 0px;
}

.carousel-controlleft:active {
    box-shadow: 0px solid red;
    opacity: 1;
}

.carousel {
    z-index: 100;
}


.carousel-control.left {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    opacity: 0.8;
    border-right:20px solid #ef4e91;
    margin-right: 0px;
}

.carousel-control.right {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    opacity: 0.8;
    border-left: 20px solid #ef4e91;
}

/* submission */

.submission-heading-text {
    font-size: 6rem;
}

.title {

}

.proposalc {
    box-shadow: 0px 1px 4px rgba(0,0,0,0.8);
}

.btn-primary {
    background: -moz-linear-gradient(top,  rgba(23, 180, 170,0.8) 0%, rgba(21,136,188,0.8) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(23, 180, 170,0.8)), color-stop(100%,rgba(21,136,188,0.8))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(23, 180, 170,0.8) 0%,rgba(21,136,188,0.8) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(23, 180, 170,0.8) 0%,rgba(21,136,188,0.8) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(23, 180, 170,0.8) 0%,rgba(21,136,188,0.8) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(23, 180, 170,0.8) 0%,rgba(21,136,188,0.8) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc48b9c4', endColorstr='#cc419ec8',GradientType=0 ); /* IE6-9 */
    box-shadow: 0px 1px 4px black;


}
/* media queries */
@media (max-width: 768px) {
    .footer img {
        width: 95%;
        top: 82%;
    }

    div.navbar {
        left: 0px;
    }



.robot {
    position: absolute;
    bottom: 0px;
    left: 30%;
    background-image: url(../images/optimus_small.png);
background-size: 100% auto;
background-repeat: no-repeat;
background-position: center bottom;
}


    body.team .popover-holder {
        left:5px;
        top:-169px;
    }

    .team-video, .team-video-title {
        margin-left: 0px;
        background-size: auto 260px;
    }

}
