@fsize_small: .99rem;
@h1_fsize_small: 2.50rem;

@media screen and (max-width: 400px){
  * {
  	font-size: @fsize_small;
  }
  h1{
  	font-size: @h1_fsize_small;
  }
}

@media (max-width: 768px){
	* {
		font-size: @fsize_small;
	}
	h1{
	  	font-size: @h1_fsize_small;
	}
}

.custom-nvabar-toggle {
	margin-right: 20px;
}