
    <h3><strong>Wendy Aldrich: <i>Business Leader, Global
</i></strong></h3>
    
    <p>
        Wendy is currently responsible for leading the global Amazon account. She recently came to Initiative from OMD, after 4 years overseeing the global media business for Visa. During that time, she helped Visa transform into a global digital marketer and led some of their first truly global media campaigns.
    </p>
    <p>
        Wendy’s marketing career spans nearly 20 years working on major brands, both client-side and agency-side.  She started her career agency-side in direct marketing on the Honda business, but quickly realized that digital was its natural evolution and pursued a digital marketing path at Disney.  Since then, she has worked in integrated marketing strategy across a diverse set of companies ranging from internet start-ups to major, world-class brands.
    </p>

    

    <p><strong>Relevant Experience:</strong> Wendy has 8 years’ experience working at Disney, and 16 years of digital experience from her previous positions. </p>

    <p><strong>Favorite album growing up:</strong> Def Leppard - Pyromania was the first cassette tape I bought -- with babysitting money</p>

    <p><strong>Favorite movie growing up:</strong> Sixteen Candles, have seen it over 40 times.</p>

    <p><strong>Favorite family or holiday memory:</strong> Christmas was always a big deal at our house. We would eat way too much food and watch way too many Holiday TV specials.
    </p>

    <p><strong>Favorite toy growing up:</strong> Monopoly – my brother and I played it every day one rainy summer.
    </p>