
    <h3><strong>Shane Ankeney: <i>Regional Leader, North America</i></strong></h3>
    
    <p>
        Shane holds responsibility for all Account Planning teams, the Insights & Strategy unit, as well as the agency’s Innovation group. He manages the agency’s New York and Atlanta offices, and is a member of both Initiatives’ Executive Leadership Team reporting to the Chief Executive Officer and the North American Operations Committee responsible for driving the firm’s overall strategic direction.

    </p>
    <p>
        Prior to Initiative, Shane served as Executive Director, Audience Planning and Media Arts for Omnicom’s TBWA\Chiat\Day where he played an integral role in reinventing that company as a ‘Media Arts’ agency globally. A veteran agency executive, Shane’s career includes senior level leadership positions at several of the advertising industry’s top agencies. Shane served as Chief Media Officer at Doner in Michigan where he led strategy for business development. He also held the title of Media Director for Carmichael-Lynch in Minneapolis including oversight for the prestigious Harley Davidson and Gibson Guitars accounts.


    </p>

    

    <p><strong>Relevant Experience:</strong> Shane has done work for clients such as Hasbro, Bandai, Saban Entertainment, FOX Kids, Apple, Sony Playstation, Cranium, Skittles, and ABC Television Network.</p>

    <p><strong>Favorite album growing up:</strong> Jackson 5 – ABC</p>

    <p><strong>Favorite movie growing up:</strong> Star Wars
    </p>

    <p><strong>Favorite family or holiday memory:</strong> The memory of me taking apart my new bike, and my Mom finding me with 100 pieces on the garage floor.

    </p>

    <p><strong>Favorite toy growing up:</strong> G.I. Joe
    </p>
