
    <h3><strong>Annika Blockstrand: <i>Business Director, Mexico</i></strong></h3>
    
    <p>
        Annika is responsible for the implementation of Initiative´s strategic process in all major accounts following our FBDS culture. She also leads most New Business pitches being accountable for winning 10 out of 13 new accounts last year.
    </p>
    <p>
        Annika has been working in the advertising world for over 15 years in the Comms Planning and Research areas where she has successfully implemented communication platforms based on quantitative and qualitative data for global market and local leading brands such as: SCJ, Diageo, Hasbro, VW, Bimbo, Unilever, GM. She has lead communication trainings in Mexico specializing in the implementation of strategic processes and insight discoverings.



    </p>

    

    <p><strong>Relevant Experience:</strong> Annika has worked on Hasbro at Grey Group Mexico.


    </p>

    <p><strong>Favorite album growing up:</strong> Barnkammar Boken (Swedish children album)



    </p>

    <p><strong>Favorite movie growing up:</strong> The Jungle Book (I loved Baloo and the way he scratched his back)

    </p>

    <p><strong>Favorite family or holiday memory:</strong> I loved playing Twister in the garden and watching my parents get all tangled up and fall flat on their faces, and beating my father playing memory games.
    </p>
    <p><strong>Favorite toy growing up:</strong> Play-Doh let me create a world of imagination, I sometimes made whole towns out of Play-Doh complete with little people.


    </p>