
    <h3><strong>Deb Bluman: <i>Business Director, USA</i></strong></h3>
    
    <p>
        Deb oversees both digital and planning teams to create cohesive campaigns to ensure that maximum value is delivered for the agency’s client, Hasbro.

    </p>
    <p>
        With over a decade of industry experience, Deb assures seamless integration of campaign material from the digital realm to print and broadcast. Prior to joining Initiative, she held the position of VP, Account Director at MediaCom where she was responsible for numerous clients, including Hasbro, Nokia and Canon. 

    </p>

    

    <p><strong>Relevant Experience:</strong> Deb began her relationship with Hasbro in 2009 at MediaCom where she was the Partner, Digital Director strategically amplifying kid and mom targeted campaigns. In the years since, her role has evolved to manage the business from an integrated perspective which has enable her to help grow Hasbro from 7% to 18% in digital investment. </p>

    <p><strong>Favorite album growing up:</strong> Billy Joel - Glass Houses
    </p>

    <p><strong>Favorite movie growing up:</strong> Revenge of the Nerds

    </p>

    <p><strong>Favorite family or holiday memory:</strong> Every year my parents would host a "Labor Day is Lobster Day" pool party and would grill lobsters, steamers, clams etc. We would eat and then go swimming to get clean...followed by a Carvel cake with a lobster on it. I now have the same party for my annual birthday bash :)

    </p>

    <p><strong>Favorite toy growing up:</strong> I always wanted to have a Lite-Brite but since the family business included Toy Wholesale and Importing, all I ever got were used toy samples and imported copycat versions which inherently were missing pieces. #stillbitter

    </p>