
    <h3><strong>Nicola Chatterton-Sievers: <i>Business Director, France</i></strong></h3>
    
    <p>
        Nicola is the International Client Services Director at Initiative France, she is responsible for Initiative Paris’ international department and is accountable for piloting media strategy, along with planning and implementation across a broad portfolio of clients in the French market.
    </p>
    <p>
        Having acquired over 15 years of media experience through an array of sectors at Initiative, Nicola has worked with a wide variety of clients, including Patek Philippe, Tiffany & Co, Western Digital, Continental Tyres, and Carapelli Olive Oil.ning on AXA Group, Nestle Purina, Peugeot, Sony, Intel and latterly Hasbro. 


    </p>

    


    <p><strong>Favorite album growing up:</strong> Anything by Edith Piaf, my parents always played it in the house growing up.


    </p>

    <p><strong>Favorite movie growing up:</strong> Delicatessen



    </p>

    <p><strong>Favorite family or holiday memory:</strong> When my parents took me to Chateau de Chambord, it was our first time seeing anything like it, I felt like a princess in a castle.
    </p>

    <p><strong>Favorite toy growing up:</strong> Monopoly

    </p>
