
    <h3><strong>David Cohen: <i>Global Digital Partnerships</i></strong></h3>
    
    <p>
        David leads our Global Partner Council designed to maximize relationships with key strategic partners around the world. These partners include many industry leaders such as Google, Yahoo, Microsoft, Facebook, Clear Channel, Twitter and AOL to name a few. Global Trading Agreements that leverage our collective spend, custom research initiatives, innovation projects and first-look opportunities are a few of the priorities lead by David and the Council.

    </p>
    <p>
        David started at Universal McCann by launching the digital practice in 2001 as Interactive Media Director, joining UM from Zentropy Partners, a standalone digital marketing consultancy in the IPG family. In 2002, he became a Senior Vice President, overseeing all digital media strategy, planning, buying and analysis operations for the New York, Los Angeles and San Francisco offices. In March 2006, he was named US Director of Digital Communications and in April 2011 he was named Global Digital Officer. 

    </p>

    

    <p><strong>Relevant Experience:</strong> David is no stranger to the Hasbro family of Brands.  He readily admits to his Dungeons & Dragons obsession as a teenager and fondly remembers endless hours engrossed in worlds of imagination and wonder. He now enjoys Chutes and Ladders, Candyland and a mean game of Connect Four with his two daughters (ages 9 and 11).  </p>

    <p><strong>Favorite album growing up:</strong> REO Speedwagon – The Hits (don’t judge me)</p>

    <p><strong>Favorite movie growing up:</strong> Rocky
    </p>

    <p><strong>Favorite family or holiday memory:</strong> Recently our trip to London with my wife and girls to witness the excitement around the recent Royal Wedding ended up being a once in a lifetime experience for them and for me.
    </p>

    <p><strong>Favorite toy growing up:</strong> A killer Erector Set
    </p>