<h3><strong>Jim Elms: <i>CEO, Initiative Worldwide</i></strong></h3>
    <p>
        Jim is responsible for Initiative’s global strategy, direction and operations. He has held several positions of increasing authority within the IPG Mediabrands network including most recently acting as IPG Mediabrands Chief Strategy Officer. Prior to that role he served as the Global Chief of Strategy and Insights at UM. Throughout his career Jim has developed a reputation for inspirational and creative thinking by ensuring a relatable, human element in the media business.
    </p>
    <p>
        Through Jim’s career that spans over twenty years, he has contributed to several outstanding advertising campaigns, from the inception of the “Got Milk?” masterpiece to numerous world-renowned Nike campaigns. Prior to joining the IPG Mediabrands family, he held high level strategic positions at Wieden+Kennedy, Barkley, and Grey Worldwide. His client portfolio includes ABInbev, Sonic Drive-ins, Procter & Gamble, Exxon Mobile, Eli Lilly, GlaxoSmithKline, Johnson & Johnson, E*Trade, Canon, Porsche and Dairy Queen, among many others.</p>


    <p><strong>Favorite album growing up:</strong> Motley Crue – Dr. Feelgood</p>

    <p><strong>Favorite movie growing up:</strong> Bill and Ted’s Excellent Adventure</p>

    <p><strong>Favorite family or holiday memory:</strong> I remember as a kid for Christmas my mom would take me to a toy store and say I could pick out any one item I wanted. The possibilities were endless!

    </p>

    <p><strong>Favorite toy growing up:</strong> G.I. Joe
    </p>