
    <h3><strong>Simon Flaxman: <i>Business Director, Australia</i></strong></h3>
    
    <p>
        As Commercial Director, Simon is responsible for leading clients such as Kia, Rabo, Clorox, The Athlete’s Foot and Amazon.

    </p>
    <p>
        In 2004 Simon moved to Sydney after 5 years at Starcom Mediavest London working as a planner on accounts such as P&G and 20th Century Fox. Following 2 years at Universal McCann working on the Coca Cola portfolio, he took up the role of Media Director at Razor, Australia’s fastest growing full service advertising agency. During his near 5 year tenure at Razor, the agency grew to include a client list that included Nike, EMI, Jim Beam Global Portfolio & EA Games.

    </p>

    

    <p><strong>Relevant Experience:</strong> EA Games (working across the full range of Hasbro family games titles)


    </p>

    <p><strong>Favorite album growing up:</strong> INXS Kick



    </p>

    <p><strong>Favorite movie growing up:</strong> Back to the Future I

    </p>

    <p><strong>Favorite family or holiday memory:</strong> Family trips to Disney World where I got see all my favorite Disney characters in the flesh, or fur, whichever.
    </p>
    <p><strong>Favorite toy growing up:</strong> Absolutely anything A-Team related.


    </p>
