
    <h3><strong>Jonathan Fowles: <i>Chief Strategy Officer, G14 </i></strong></h3>
    
    <p>
        Jonathan is responsible for strategy and planning across Initiative’s G14 cluster of markets. He has been privileged to personally work on strategies for many famous brands, including the BBC, the launch of O2, Virgin Atlantic, John Lewis Partnership and the Guardian. He has been responsible for many award winning pieces of work, most recently the Google entry that won the overall Media Grand Prix at Cannes in 2012.

    </p>
    <p>
        Jonathan started his career over twenty years ago in the media department of the then full-service Bartle Bogle Hegarty in London, and subsequently worked at Omnicom media agencies PHD where he graduated to Head of Planning and Manning Gottlieb OMD as Head of Strategy, Planning and Insight.

    </p>

    

    <p><strong>Relevant Experience:</strong> Jonathan has worked on Warner Bros Films including the Harry Potter franchise.



    </p>

    <p><strong>Favorite album growing up:</strong> The Beatles – Rubber Soul



    </p>

    <p><strong>Favorite movie growing up:</strong> The Marx Brothers – Duck Soup


    </p>

    <p><strong>Favorite family or holiday memory:</strong> My best memory was my dad helping me build an electric remote control car from scratch.
    </p>
    <p><strong>Favorite toy growing up:</strong> Pack of cards – endless fun and possibilities.


    </p>
