
    <h3><strong>Tania Harwood: <i>Business Director, UK</i></strong></h3>
    
    <p>
        As Business Director in our UK office, Tania ensures our clients love working with us and that our thinking is growing their customer base. 
    </p>
    <p>
        Tania has worked in full service and media specialist agencies. She joined the industry at JWT as part of their graduate scheme as a planner/buyer on Nestle Rowntree where she stayed for 7 years before moving to CDP to do the same on their newly won Honda account.  Here, she led the media team and worked within the creative agency to ensure our thinking was integrated with creative, PR, digital and CRM. A strategic move to OMD 7 years later saw a focus on media planning on AXA Group, Nestle Purina, Peugeot, Sony, Intel and latterly Hasbro. 


    </p>

    

    <p><strong>Relevant Experience:</strong> Tania ran the Hasbro business in the UK for 9 months up to July 2013 when she left OMD for Initiative. She sought to deliver creative solutions for each campaign, highlights of which were the launch strategy for Furby and a partnership with Syco and Little Mix for Littlest Pet Shop. 

    </p>

    <p><strong>Favorite album growing up:</strong> Grease


    </p>

    <p><strong>Favorite movie growing up:</strong> Grease (there wasn’t much else on offer)



    </p>

    <p><strong>Favorite family or holiday memory:</strong> An unforgettable memory for me was the Kids’ fancy dress competition at Pontins, where we salvaged litter from the bins and went as “Keep Britain Tidy”. The Bisto kids won.

    </p>

    <p><strong>Favorite toy growing up:</strong> Tiny Tears, followed by Cindy then my Chopper bike. My 10 year old son’s favorite toy is Monopoly and he was even given fantastic Nerf guns by the client for his birthday!


    </p>
