
    <h3><strong>Sarah Ivey: <i>Strategy, Global</i></strong></h3>
    
    <p>
        As the leader and author of Initiative’s strategic planning approach, Sarah is responsible for communication and planning worldwide. This is a wide mandate that includes client leadership, training, workshops, mentoring, research, data, tools and technology. Her focus is on producing brilliant, opinionated work across every market for Initiative.
    </p>
    <p>
        With over 20 years of experience in the marketing industry, Sarah has a depth of experience in almost every category, from packaged goods to entertainment to retail to automotive. She has also worked on brands in over 25 different markets and cultures – so the continuing challenge of ensuring global brand success at a local market level is one of her areas of expertise.

    </p>

    

    <p><strong>Relevant Experience</strong>: I have worked on toys for 6 years including Mattel, Tyco, and Toys R Us </p>

    <p><strong>Favorite album growing up:</strong> The Police – Reggatta de Blanc</p>

    <p><strong>Favorite movie growing up:</strong> Casablanca</p>

    <p><strong>Favorite family or holiday memory:</strong> I remember letting my brother cheat at Monopoly.
    </p>

    <p><strong>Favorite toy growing up:</strong> Boggle rocks man!
    </p>