<h3><strong>Jacki Kelley: <i>CEO, North America Mediabrands</i></strong></h3>

<p>
    Jacki oversees and integrates all tools, technologies and services that surround all clients based in North America, across the IPG Mediabrands agencies – UM, Initiative and bpn. Additionally, she is responsible for global clients headquartered in North America.
</p>
<p>
    A constant in her over 20 years of experience in advertising is forging relationships that deliver results for clients and constantly refining how we, as a network, service their business objectives. Jacki develops business models that drive excellence and growth. Prior to this role, she served as both President, North America and Global CEO at UM. There, she bolstered the agency’s proposition — and reputation — as a strategic company, guided by both ideas and analytics, centered on business outcomes. This has resulted in a number of changes, including how the agency is compensated for its work.</p>

<p><strong>Favorite album growing up:</strong> Grease</p>

<p><strong>Favorite movie growing up:</strong> Sound of Music</p>

<p><strong>Favorite family or holiday memory:</strong> Game night!!  I grew up on a cattle ranch and games were plentiful.  I still hold the Twister record (and re-earn it every Thanksgiving). My daughter is now referred to as a land baron as she is relentless at New Canaan Monopoly! Operation is where we all fail!

</p>

<p><strong>Favorite toy growing up:</strong> Games of Sorry and Parcheesi were childhood favorites.
</p>