

    <h3><strong>Klaus Laddey: <i>Business Director, Germany</i></strong></h3>
    
    <p>
        Klaus oversees all client relationships for the agency’s German office.  Through his positions, he ensures quality media planning, integration and full collaboration across clients, agencies and media partners.
    </p>
    <p>
        Klaus has 18 years of experience working in the media business and gained his experience in a lot of different segments. FMCG: SC Johnson, Reckitt Benckiser, Intersnack – Automotive: Mazda, Continental – Telecommunication: E-Plus.



    </p>

    

    <p><strong>Relevant Experience:</strong> Klaus began his relationship with Hasbro in 1975 where he played “Connect Four” for the first time being beaten by his older brother. After a two year training session he became the family champion.


    </p>

    <p><strong>Favorite album growing up:</strong> AC/DC – Highway to hell

    </p>

    <p><strong>Favorite movie growing up:</strong> The Blues Brothers



    </p>

    <p><strong>Favorite family or holiday memory:</strong> I will never forget when we went in our beetle with five people and luggage for a 1,000 miles trip to Austria. Believe me this is what being close to your family means.
    </p>
    <p><strong>Favorite toy growing up:</strong> I had a toy gun which I carried with me for about 4 years until my teachers got a bit worried and recommended an anti-aggression-training.



    </p>
