
    <h3><strong>Andy Leung: <i>Regional Leader, APAC</i></strong></h3>
    
    <p>
        Andy Leung has been working in our Hong Kong office for 4 years where he serves both regional and local clients.
    </p>
    <p>
        Andy has worked for Starcom and OMD where he worked on media and strategic planning for clients like UBS, Hyatt International Hotels, Financial Times, Richemont, McDonalds, Air New Zealand, etc. Andy graduated from a degree programme of Physics with Business Administration. The development of logical and analytical minds with business sense is assisting Andy to work for different clients on media planning and buying.


    </p>

    

    <p><strong>Relevant Experience:</strong> Andy has worked on Xbox for 4 years. </p>

    <p><strong>Favorite album growing up:</strong> Any albums from Jacky Cheung (a local Chinese singer)</p>

    <p><strong>Favorite movie growing up:</strong> Finding Nemo
    </p>

    <p><strong>Favorite family or holiday memory:</strong> I loved eating food prepared by my father who is good at cooking different Chinese cuisines.


    </p>

    <p><strong>Favorite toy growing up:</strong> Monopoly, which could be play with good friends and not so good friends.
    </p>
