
    <h3><strong>Kris Magel: <i>Investment Leader, USA</i></strong></h3>
    
    <p>
        Kris is responsible for overseeing all national negotiations and related activities for the agency’s major television marketing clients including Hasbro, Hyundai, Kia, Dr Pepper Snapple Group, MillerCoors, Merck, USAA, Vizio, Ameriprise, Victoria’s Secret, PETCO and Nikon.
    </p>
    <p>
        Prior to joining Initiative in 2007, Kris held the position of Senior Vice President, National Broadcast at Zenith where he created a fully integrated buying unit for Maybelline/Garnier and built custom 360° partnerships across multiple platforms. Prior to Zenith, Kris worked at Optimedia in a variety of roles of increasing responsibility, including Senior Vice President, National Broadcast, where he managed clients including T-Mobile, Whirlpool, BMW, New York Life Insurance and Dreyfus.

    </p>

    

    <p><strong>Relevant Experience:</strong> Kris has two kids that he spends much of his free time playing with, who he has introduced to Connect Four and Battleship.
    </p>

    <p><strong>Favorite album growing up:</strong> Bill Cosby’s “Wonderfulness” and “Fat Albert” – I listened to them every night, going to sleep.

    </p>

    <p><strong>Favorite movie growing up:</strong> Flash Gordon

    </p>

    <p><strong>Favorite family or holiday memory:</strong> I loved the commercial for Connect Four…”pretty sneaky sis!” – and I can remember my younger brother being very, very mad at me - throwing the game pieces all over the living room - when I sunk his battleship. Good memories.
    </p>

    <p><strong>Favorite toy growing up:</strong> My most used games were Monopoly, Connect Four, Rubik’s Cube, Twister, Battleship, and Clue.
    </p>
