
    <h3><strong>Xavier Mantilla: <i>Regional Leader, Miami</i></strong></h3>
    
    <p>
        Xavier is based in Miami managing all media in Latin America for MasterCard, Microsoft, ExxonMobil, Sony Pictures (Theatrical Releases), and other UM/MediaBrands clients.
    </p>
    <p>
        Xavier has 20 years of ad agency US Hispanic and Latin America experience. He built the first digital media network in Latin America and opened offices in all major markets in the region - Sao Paulo, Mexico, Buenos Aires, Santiago, Lima and Bogota. He helped manage the merger and acquisition of digital media agencies in Argentina and Brazil for global communications groups to have "local" footprints in major markets. Xavier was in charge of media in the US Hispanic market for clients like: Ford, American Airlines, Smuckers, SC Johnson, Olive Garden, Winn-Dixie, Sprint, MasterCard, Johnson & Johnson, TD Bank, NFL and Remy Martin among others while holding executive positions in the largest US Hispanic ad agencies.


    </p>

    

    <p><strong>Relevant Experience:</strong> While living in the Caribbean islands growing up, the evenings were filled with board games and Battleship was a favorite as well as after college having all the irrelevant knowledge that was picked up to create a Trivial Pursuit champion amongst the social circle in Miami.</p>

    <p><strong>Favorite album growing up:</strong> Rush – Moving Pictures</p>

    <p><strong>Favorite movie growing up:</strong> The Great Escape
    </p>

    <p><strong>Favorite family or holiday memory:</strong> Traveling on Christmas from whatever side of the world we were (my dad was a UN Diplomat) to my grandmother’s house in Ecuador to celebrate Christmas Eve dinner all together.


    </p>

    <p><strong>Favorite toy growing up:</strong> Tintin model rocket – Tintin was the first person on the moon! The rocket was a model from the Tintin book where he and Capt. Haddock and this group of characters went to explore the moon.
    </p>