<h3><strong>Peter Mears: <i>CEO, Initiative North America</i></strong></h3>
    
    <p>
        Peter serves as President, North America for Initiative, one of the Interpublic Group’s (NYSE: IPG) two worldwide media networks and part of the company’s IPG Mediabrands unit. He has operational and client responsibility for the agency’s network within the United States and Canada.
    </p>
    <p>
        Prior to joining Initiative, Mears assumed leadership of IPG Mediabrands Canada, overseeing regional agencies including Initiative, UM and M2Universal. There, he oversaw flagship accounts including Johnson & Johnson, Coca-Cola and MasterCard. He came to IPG Mediabrands after spending over a decade at PHD in London and in New York where he worked with clients ranging from The Guardian Newspaper to Mitsubishi and HBO.  Mears also spent a number of years with Toronto’s HYPN working with a diverse portfolio of clients including Unilever.  </p>

    

    <p><strong>Favorite album growing up:</strong> Any album by Human League</p>

    <p><strong>Favorite movie growing up:</strong> Monty Python and the Holy Grail</p>

    <p><strong>Favorite family or holiday memory:</strong> For the holidays my dad would read us stories from a big book of fairy tales.

    </p>

    <p><strong>Favorite toy growing up:</strong> The Rubix cube, I was a wiz at solving it, just give me something to peel off the stickers and something to glue them back on and watch me go.
    </p>