
    <h3><strong>Jim Milligan: <i>Director, GumboLive</i></strong></h3>
    
    <p>
        Jim joins forces with Momentum and Mediabrands to bring GumboLive to life, which is a creative lab of emerging talent located in the French Quarter of New Orleans.

    </p>
    <p>
        His career begins as a $5/hour equity research assistant onto a 28-year-old senior partner for helping build a multi-billion dollar mutual fund company. Jim then started FreedomZone in 1999 as a place for emerging talent and the Fortune 500 to grow together without compromising their integrity. The career journey has been adding value by connecting the corner office with the street corner to empower people through creativity to drive measurable business results. 
    </p>

    

    <p><strong>Relevant Experience:</strong> Jim has worked with hundreds of kids ranging from 10-25 years old with Fortune 500, and has four kids of his own which help him bounce ideas around.


    </p>

    <p><strong>Favorite album growing up:</strong> AC/DC – Back in Black \m/



    </p>

    <p><strong>Favorite movie growing up:</strong> Star Wars


    </p>

    <p><strong>Favorite family or holiday memory:</strong> I used to look forward to my families Christmas ski vacations at Snowbird, Utah. Wish I had kept up with it.
    </p>
    <p><strong>Favorite toy growing up:</strong> Play-Doh – I still love creating sculptures


    </p>
