
    <h3><strong>Sue Moseley: <i>Director, Performance</i></strong></h3>
    
    <p>
        Sue is responsible for delivering best practice and driving innovation for Initiative in the area of research and analytics, tools and systems all with a focus on driving better business results for our clients. In her 12 years at Initiative, Sue invented Matrix, the much acclaimed industry leading planning tool, as well as launching Prophesee the first industry social media listening tool and Connections Panels which are now running in 54 countries.

    </p>
    <p>
        Prior to joining Initiative, Sue served as Marketing & Research Manager at Central TV in the UK, where she introduced AdLab the original single-source panel, which measures product purchase and multi-media consumption. She went on to be a founding Director for TSMS, a division of United News & Media, the UK’s first TV sales house where she was responsible for business strategy.

    </p>

    

    <p><strong>Relevant Experience:</strong> Being part of a large family, including having 5 daughters of her own, she has hands on experience of kids, mums, play and toys.  She also has experience working with many clients for whom Mums, Dads and Kids are the key target audience.
    </p>

    <p><strong>Favorite album growing up:</strong> Tubby the Tuba!



    </p>

    <p><strong>Favorite movie growing up:</strong> The Jungle Book


    </p>

    <p><strong>Favorite family or holiday memory:</strong> One of my best family memories occurred on a rainy Sunday when we re-invented Monopoly with credit and loan facilities to make it last all day.

    </p>
    <p><strong>Favorite toy growing up:</strong> The loveable spud, Mr Potato Head.



    </p>