
    <h3><strong>Paulo Oncken: <i>Business Director, Brazil</i></strong></h3>
    
    <p>
        Paulo is based in Initiative’s Lowe Sao Paulo office and responsible for overseeing all media planning and buying capabilities for clients that include Unilever, Embratur, Ajegroup, and Alitalia.
    </p>
    <p>
        With more than 30 years of experience in Brazilian media industry, Paulo Oncken grew a solid experience on advertising agencies, media industry and clients, worth mention Nestlé, RJReinolds, CitiBank, Jornal do Brasil, Bandeirantes TV Network, McCann Erickson, DPZ e Lowe where’ve held Manager and Director positions. Mr. Oncken holds an MBA from COPPEAD/UFRJ – Federal University of Rio de Janeiro. Paulo speaks Portuguese, English and Spanish. As an outstanding professional, his career has several prizes, most recently the 98 Media Grand Prix of Abril Prize and Two Media Lions in Cannes’ 99.



    </p>

    

    <p><strong>Relevant Experience:</strong> Paulo believes in a big family, and has 3 daughters and 3 grandsons which has made him an expert in toys since he enjoys bringing gifts home.


    </p>

    <p><strong>Favorite album growing up:</strong> The Beatles – Ticket To Ride


    </p>

    <p><strong>Favorite movie growing up:</strong> Wizard of Oz

    </p>

    <p><strong>Favorite family or holiday memory:</strong> Being from a warm climate to us our favorite memories come from long days at the beach.
    </p>
    <p><strong>Favorite toy growing up:</strong> My Little Bear

    </p>
