
    <h3><strong>Shannon Pluem: <i>Business Director, Canada</i></strong></h3>
    
    <p>
        Shannon leads innovation across Initiative’s main clients in Canada.
    </p>
    <p>
        Over her career, Shannon has worked on both brand and DR clients and on both the planning and the buying side. As well, she has spent her career working on blue chip clients in the entertainment and youth markets putting her on the leading edge of innovation. This client base gave her the opportunity to continually try new technologies and platforms and has included Coke, Paramount, Disney, The Gap, H&M and Ford. 


    </p>

    

    <p><strong>Relevant Experience:</strong> Shannon has worked on brands like Disney and Paramount movies.
    </p>

    <p><strong>Favorite album growing up:</strong> Michael Jackson - Thriller

    </p>

    <p><strong>Favorite movie growing up:</strong> Star Wars Trilogy


    </p>

    <p><strong>Favorite family or holiday memory:</strong> We spent all our Christmas holidays at our family cottage with my aunts, uncles, cousins and grandparents. We would be up all night on Christmas Eve with anticipation and kept sneaking out to check if Santa had arrived yet. I looked forward to those holidays every year.
    </p>

    <p><strong>Favorite toy growing up:</strong> I was a bit of a tomboy as a child and had the almost the entire Star Wars toy collection.  I was obsessed with the movies and as an extension, my toys. My two favorite piece was the millennium falcon, because it was the coolest ship in the galaxy piloted by my childhood crush, Han Solo. As I grew out of them, I let my younger brother have most of my collection. But I still have the millennium falcon.  I won’t ever let that one go.

    </p>