
    <h3><strong>Sarah Power: <i>Insight and Strategy Leader, USA</i></strong></h3>
    
    <p>
        Sarah is responsible for helping chart the agency’s overall direction and how it provides clients with full-service marketing solutions. Her Insights and Strategy team also works in conjunction with all of Initiative’s research units to provide fresh perspective and the latest analytics to clients.

    </p>
    <p>
        Before joining Initiative, Sarah served as Senior Vice President, Communications Strategist at MPG, a unit of Havas with a focus on the agency’s global clients including ExxonMobil, GlaxoSmithKline and Schering-Plough. She also held a series of positions of increasing responsibility culminating with Senior Vice President, Strategic Director for Carat where she ran the agency’s Proctor & Gamble family care and baby care divisions and developed the communications planning process for both the agency and P&G.

    </p>

    

    <p><strong>Relevant Experience:</strong> Sarah has worked on many youth targets account like Mattel, PBSKids, Nabisco, P&G Family Care and Baby Care, and Hasbro.</p>

    <p><strong>Favorite album growing up:</strong> Marlo Thomas and friends – Free to Be… You and Me

    </p>

    <p><strong>Favorite movie growing up:</strong> Disney’s Peter Pan

    </p>

    <p><strong>Favorite family or holiday memory:</strong> When I was 6 years old, my parents took me to see The Nutcracker at Lincoln Center all by myself (we ditched my younger sister) on Christmas Eve. I think about that Christmas Eve every year. 

    </p>

    <p><strong>Favorite toy growing up:</strong> With two boys, it has to be Nerf.  For me, it’s the game Taboo.

    </p>