<h3>Matt Seiler</h3>
<h3>CEO, Global Mediabrands</h3>
<h4>Bio</h4>

<p>
    Matt delivers differing perspectives on the media world and consistently challenges the conventions and norms
    throughout this business and the role it holds in the global economy. He is moving agency client relationships
    to a pay for performance model linking compensation directly to client growth. He sits on top of the largest
    media company investment in emerging media – identifying and nurturing the change makers in the digital space,
    adding relevance to the products to make them more useful for clients and then educating clients on how
    technologies can change interaction with consumers.
</p>

<p>
    Matt has a legacy of change leadership. As Global CEO of UM, he redefined the scope of media services to
    encompass all forms of marketing communications and bridging the gap that existed between media and creative
    agencies. Mediaweek named Matt “Executive of the Year” in November 2009. Prior to UM, Matt served as President
    and later CEO of PHD North America, which he joined in 2004.
</p>

<h4>Fun Facts:</h4>
<h5>Favorite album growing up</h5>
<p>Pousette-Dart Band</p>

<h5>Favorite movie growing up</h5>
<p>My Side of the Mountain</p>

<h5>Favorite family or holiday memory</h5>
<p>My best memories occurred during Halloween, counting the spoils and trading for favorites.</p>

<h5>Favorite toy growing up</h5>

<p>Any Corgi car, but if I had to choose one, red Jaguar XKE</p>