
    <h3><strong>Michael Siegenthaler: <i>Global Content</i></strong></h3>
    
    <p>
        Michael is responsible for turning strategy into ideas that bring experiences, brands, and audiences together in unique and innovative ways.

    </p>
    <p>
        Prior to joining Initiative, Michael was the Global Chief Experience Officer at Interpublic’s UM, charged with creating a new global discipline at the agency. His team of Experience Architects worked with clients, their ecosystem of agencies, media owners, and production companies alike to create and execute large-scale, breakthrough programs. During his tenure the team grew from 3-person, domestic operation to a 70+ team of specialists around the world who have won numerous awards, including Cannes Lion, Effie, and Festival of Media, and work for UM clients such as MasterCard, Johnson & Johnson, Chrysler, and Sony.

    </p>

    

    <p><strong>Relevant Experience:</strong> Michael Worked on Chuck E Cheeses early in his career and has recently worked with Johnson & Johnson Acuvue One Day content for teen audience.</p>

    <p><strong>Favorite album growing up:</strong> The Who  - Meaty Beaty Big and Bouncy</p>

    <p><strong>Favorite movie growing up:</strong> Amityville Horror</p>

    <p><strong>Favorite family or holiday memory:</strong> Every Sunday Morning – family breakfast in the family room (bagels!) 
    </p>

    <p><strong>Favorite toy growing up:</strong> It would have to be a tie between: G.I. Joe, Stretch Armstrong, and Evel Knievel. 
    </p>