 <h3><strong>Tim Spengler: <i>CEO, MAGNAGLOBAL Worldwide</i></strong></h3>
    
    <p>
        Tim oversees MagnaGlobal, the organization responsible for leveraging relationships with global media companies to maximize the value delivered to Interpublic Group’s clients. He has been a senior executive within the IPG network for nearly two decades holding positions of increased responsibility since 1993.

    </p>
    <p>
        Prior to his position running MagnaGlobal, Tim served as President, North America for Initiative, one of IPG’s two worldwide media networks. Under Tim’s leadership Initiative North America consistently delivered strong financial performance as was named U.S. Media Agency of the Year in 2008 by both AdAge and Adweek Magazines. This success was drawn from the more than 30 new clients he helped secure including MillerCoors and Merck and their customized Interpublic Group offerings, as well as flagship accounts Hyundai & Kia Motors, Lionsgate Entertainment, Dr Pepper Snapple Group, Hasbro, PETCO, and financial services giant USAA.

    </p>

    

    <p><strong>Relevant Experience:</strong> Tim has worked on youth and entertainment clients such as Hasbro, Lionsgate, PETCO, and Dr Pepper Snapple Group. </p>

    <p><strong>Favorite album growing up:</strong> Van Halen – 1984</p>

    <p><strong>Favorite movie growing up:</strong> Ghostbusters, I always wanted to be Egon.
    </p>

    <p><strong>Favorite family or holiday memory:</strong> Camping with my family, where my dad taught me how to fish.
    </p>

    <p><strong>Favorite toy growing up:</strong> My favorite toy growing up was the classic Super Soaker 100 on summer days.
    </p>
