
    <h3><strong>Sylvain Valeix: <i>Regional Leader, London</i></strong></h3>
    
    <p>
        Sylvain is responsible for Mediabrands international client services unit in London.  His role is to ensure regional and global clients receive best-in-class services across the Mediabrands network. He has a passion for helping international brands navigate the increasingly complex media landscape. With a strong focus on innovation and integration, he has delivered a number of award-winning campaigns such as IBM e business, Sony Bravia Balls campaigns, Intel Core 2 Duo launch, UPS Widget, Microsoft (multiple) and Statoil corporate brand launch.

    </p>
    <p>
        During Sylvain’s five years at UM he has seen his responsibility evolve from Managing Partner to Head of the International Client Services unit and finally Chief Client Officer G14. He has worked on a range of international brands including 3M, Puma, Carlsberg, Alcatel and Halifax Sylvain moved to MediaCom where he was promoted from Media Planner to Media Manager in charge of the Time Warner, P&G Fragrances, Emirates and Burberry accounts.  


    </p>

    

    <p><strong>Favorite album growing up:</strong> Prince - Purple Rain</p>

    <p><strong>Favorite movie growing up:</strong> The Blues Brothers
    </p>

    <p><strong>Favorite family or holiday memory:</strong> The Monopoly all-nighters with my cousins on holiday.

    </p>

    <p><strong>Favorite toy growing up:</strong> Star Wars Millenium Falcon
    </p>