
    <h3><strong>Judy Wang: <i>Business Director, China</i></strong></h3>
    
    <p>
        Judy oversees all clients and operations for Initiative, China. She has a broad range of experience including leading global brands, Unilever and P&G, as well as clients across finance, home appliances, luxury, and B2B categories.

    </p>
    <p>
        With nearly 20 years of experience working in the media industry, Judy has held top tier positions with Ogilvy & Mather, McCann Erickson, GroupM’s Mindshare and MediaCom. She also has leading experience in handling client transitions as she was a key member handling the transition when Gillette was acquired by P&G early 2005.

    </p>

    


    <p><strong>Favorite album growing up:</strong> “Young Tiger” – A famous 80’s Taiwanese singing group




    </p>

    <p><strong>Favorite movie growing up:</strong> La Grande Vadrouille

    </p>

    <p><strong>Favorite family or holiday memory:</strong> Celebrating Chinese New Year with lots of delicious food, having fireworks and with all family members gathered together
    </p>
    <p><strong>Favorite toy growing up:</strong> Growing up in China we had toy bricks which were copycat versions of LEGOs.


    </p>